<ion-header>
  <ion-navbar>
    <ion-searchbar
      [(ngModel)]="query"
      [showCancelButton]="true"
      (ionInput)="onInputSearchQuery()"
      (ionCancel)="loadCustomers()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="!showSearched; else showQueriedCustomers">
    <ion-item *ngFor="let customer of customers">
      <ion-grid text-center>
        <ion-row (click)="showDetails(customer)">
          <ion-col>
            <p>Customer ID</p>
            <h3>{{customer[0]}}</h3>
          </ion-col>

          <ion-col>
            <p>Name</p>
            <h3>{{customer[2]}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ng-template #showQueriedCustomers>
    <ion-list>
      <ion-item *ngFor="let customer of queriedCustomers">
        <ion-grid text-center>
          <ion-row (click)="showDetails(customer)">
            <ion-col>
              <p>Customer ID</p>
              <h3>{{customer[0]}}</h3>
            </ion-col>

            <ion-col>
              <p>Name</p>
              <h3>{{customer[2]}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
